[submodule "src/github.com/cloudfoundry/gosteno"]
        path = src/github.com/cloudfoundry/gosteno
        url = https://github.com/cloudfoundry/gosteno
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
        url = https://github.com/stretchr/testify
[submodule "src/github.com/remogatto/prettytest"]
	path = src/github.com/remogatto/prettytest
	url = https://github.com/remogatto/prettytest.git
[submodule "src/github.com/bmatsuo/go-spec"]
	path = src/github.com/bmatsuo/go-spec
	url = https://github.com/bmatsuo/go-spec.git
[submodule "src/github.com/orfjackal/gospec"]
	path = src/github.com/orfjackal/gospec
	url = https://github.com/orfjackal/gospec.git
[submodule "github.com/pranavraja/zen"]
	path = github.com/pranavraja/zen
	url = https://github.com/pranavraja/zen
[submodule "src/github.com/pranavraja/zen"]
	path = src/github.com/pranavraja/zen
	url = https://github.com/pranavraja/zen.git
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
